/**
 * @name Blur
 * @author 
 * @version 1.0
 * @description Mod of frosted glass
*/

@import url("https://discordstyles.github.io/FrostedGlass/base.css");
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

:root {
  --background-image: url('https://i.imgur.com/yrqaW0p.jpg');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;

  --home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;

  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.75;

  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --gradient-direction: 320deg;

  --tint-colour: 255,51,159;
  --tint-brightness: 0;

  --window-padding: 20px;
  --window-roundness: 10px;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --link-colour: #00b0f4;
  --show-gift-gif-buttons: none;

  --font: 'JetBrains Mono';
  
  --update-notice-1: none;
}
