/**
 * @name Nord
 * @version
 * @description Nord theme, edit of translucence lolz
 * @author 
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://i.imgur.com/D2ZTarz.png);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px;
	--app-accent: #5e81ac;
	--app-accent-image: none;
	--app-accent-rgb: 94,129,172;
	--app-accent-text: #eceff4; /*	-	*/

	--sidebar-color: rgba(67,76,94,0.4);
	--main-content-color: rgba(67,76,94,0.2); /*	-	*/

	--messages-color: rgba(67,76,94,0.0); /*	-	*/

	--textarea-color: 0,0,0;
	--textarea-text-color: #fff; /*	-	*/

	--card-color: rgba(59,66,82,1);
	--card-color-hover: rgba(59,66,82,1);
	--card-color-select: rgba(59,66,82,1); /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(67,76,94,0.075);
	--background-modifier-selected: rgba(67,76,94,0.125);
}
